.git
.github
.vscode
.idea

node_modules
dist
build
coverage
.nyc_output

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

tmp
temp
*.tsbuildinfo
*.tgz
