{$URANA_API_URL} {
  encode zstd gzip

  @sportsru path {$URANA_API_PATH}*

  route @sportsru {
    # preflight для CORS
    @preflight {
      method OPTIONS
      header Origin {$URANAWEB_APP_URL}
    }
    handle @preflight {
      header {
        Access-Control-Allow-Origin {$URANAWEB_APP_URL}
        Access-Control-Allow-Methods "POST, OPTIONS"
        Access-Control-Allow-Headers {http.request.header.Access-Control-Request-Headers}
        Access-Control-Max-Age 86400
        Vary "Origin, Access-Control-Request-Method, Access-Control-Request-Headers"
      }
      respond "" 204
    }

    # CORS for main request
    header {
      Access-Control-Allow-Origin {$URANAWEB_APP_URL}
      Access-Control-Allow-Methods "POST, OPTIONS"
      Access-Control-Allow-Headers "content-type"
      Vary "Origin"
      # If needed auth/cookies:
      # Access-Control-Allow-Credentials true
    }

    # URANA_API_PATH -> SPORTS_API_PATH
    uri replace {$URANA_API_PATH} {$SPORTS_API_PATH}

    reverse_proxy {$SPORTS_API_URL} {
      header_up Host {http.reverse_proxy.upstream.hostport}
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto https
    }
  }

  # Others -> 404
  respond 404
}